@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Nunito:400");


@font-face {
    font-family: "Futura-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://fonts.animaapp.com/Futura-Medium") format("opentype");
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background-color: #030308;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 40px;
  }

.header-margin {
    margin: 60px auto;
}  

.main-description {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.side-description {
    margin: 60px 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.description .flex {
    justify-content: space-between;
  } 

.btn {
    height: 56px;
    min-width: 256px;
    padding: 0 71.0px;
    display: inline-block;
    cursor: pointer;
   
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    font-family: Futura-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
/* identical to box height */
    text-align: center;
    
 }
.enter-app-btn {
    background-color: #DA52C9;
    color: #FFFFFF;
} 
  
.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
    color: #FFFFFF;
}
  
.btn:hover {
    transform: scale(0.98);
 }



.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.text-center {
    text-align: center;
}

.network-card {
    width: 211px;
    height: 150px;
    background: linear-gradient(180deg, #242424 -102.27%, #030308 114.77%);
    border-radius: 10px;
    padding: 20px;
}

.live-text-container {
    width: 211px;
    justify-content: center;
}
.network-card img {
width: 56px;
height: 56px;
}

.network-card .text {
 margin: 20px 0;
font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
}
.circle-png {
    width: 613px;
height: 564px;
}
.middle-grid {
    position: absolute;
    width: 90px;
    height: 83px;
    top:228px;
    left: 263px;
    z-index: 1;
}

.main-description-2 {
    font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 58px;

/* or 145% */
letter-spacing: -0.03em;

color: #FFFFFF;

text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.products-heading {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    
    /* identical to box height, or 145% */
    letter-spacing: -0.03em;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.products img {
    margin: 0 60px;
}